[high_resolution_filament_sensor roadrunner]
extruder: extruder
#  The extruder to which this sensor is attached
#uart_rx_pin: gpio0
#uart_tx_pin: gpio1
#  TX and RX pins for UART communication, leave out if i2c or USB serial is used (see below).
#i2c_address: 66
#  The address of the sensor on the I2C bus, the default is 64 (0x40). Only
#  change this if you attach more than one sensor on the same I2C bus.
#i2c_mcu: expander
#i2c_speed: 400000
#  The mcu on which the sensor is connected.
#i2c_bus: i2c1a
#  The I2C bus to which the sensor is connected on the mcu.
serial: /dev/serial/by-id/usb-Raspberry_Pi_Pico_E6625887D3118E31-if00
#  The serial port over which the sensor is connected. Find with `ls -alh /dev/serial/by-id`.
pause_on_runout: True
#  Whether or not to pause the print automatically when a runout
#  condition is triggered.
runout_gcode: RESPOND TYPE=command MSG='Filament runout detected'
#  The gcode to execute when a runout condition is detected.
invert_direction: True
# If the measured distance/speed values are negative, change this to True.
rotation_distance: 23.3955847
# The length of filament which corresponds to a full 360 degree rotation
# of the magnet over the rotary encoder. A good starting point is the
# circumference of the BMG gears in the sensor.
underextrusion_max_rate: .5
# What rate of underextrusion can be tolerated, as a value between 0.0 and 1.0.
# The rate is calculated by comparing the extruder position to the measured
# filament length over a certain period. A rate of 0.0 means the measured
# filament motion matches the expected extrusion distance over the period.
# A rate of 1.0 means no filament motion was detected at all when some motion
# was expected for the extruder.
underextrusion_period: 5
# How long should the underextrusion rate stay above the max rate before
# a runout is triggered.
hysteresis_bits: 4
# How many bits to ignore from the magnetic rotary encoder's angle data.
# This setting determines the minimum detectable change in position
# for the sensor. Configuring this too low can result in flapping between
# two adjacent positions even when the filament is not moving.

[filament_motion_sensor roadrunner_motion]
detection_length: 10
extruder: extruder
switch_pin: virtual_motion_sensor:roadrunner
pause_on_runout: False
runout_gcode: RESPOND TYPE=command MSG='Filament motion sensor detected a runout'
event_delay: 0.1

[filament_switch_sensor roadrunner_switch]
switch_pin: virtual_switch_sensor:roadrunner
pause_on_runout: False
runout_gcode: RESPOND TYPE=command MSG='Filament switch sensor detected filament is no longer present'
event_delay: 0.1